<?xml version="1.0"?>
<model>
  <name>ai_drone_camera</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Sefa Taşdemir</name>
    <email>sefa@example.com</email>
  </author>
  <description>
    Simple drone model with downward camera for cave exploration
  </description>
</model>
